parameters:
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/logs
        - %currentWorkingDirectory%/kernel
    ignoreErrors:
        # Put false positives here
